{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- BEGIN wrapper -->
    <div class="wrapper">
        <!-- BEGIN header -->
        <div id="header">
            <h1><a href="#">NewsTheme</a></h1>
            <div class="ad468x60"><a href="#"><img src="{% static 'images/ad468x60.gif' %}" alt=""/></a></div>
        </div>
        <!-- END header -->
        <!-- BEGIN body -->
        <div id="body">
            <!-- BEGIN content -->
            <div id="content">
                <!-- begin post -->
                <div class="recent post">
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.body|safe }}</p>

                    <!-- Begin comments section -->
                    <div id="comments">
                        <h3>Comments:</h3>
                        {% if comments %}
                            <ul>
                                {% for comment in comments %}
                                    <li>
                                        <p><strong>Owner:</strong> {{ comment.owner.username }}</p>
                                        <p>{{ comment.body|safe }}</p>
                                    </li>
                                {% empty %}
                                    <li>No comments yet.</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No comments available.</p>
                        {% endif %}

                    </div>
                    <!-- End comments section -->

                </div>
                <!-- end post -->
            </div>
            <!-- END content -->
            <!-- BEGIN sidebar -->
            {% include 'article/sidebar.html' %}
            <!-- END sidebar -->
        </div>
        <!-- END body -->
        <div class="break"></div>
    </div>
    <!-- END wrapper -->
{% endblock %}
